.organims_navbar {
    background: green;
    height: 40px;
    display: flex;
    opacity: 0.5;

    justify-content: space-between;
    position: sticky; /*IMPORTANTE*/
    top: 0; /*IMPORTANTE*/
    z-index: 1;

    background: linear-gradient(135deg, black, black);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .contNavbar {
        height: 100%;
        width: 70%;
        margin: 0 auto;
        /*background: yellow;*/
    }
}

.organims_secondCont {
    background: blue;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-image: url('/static/img/fondo.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
}
